*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #000;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
        anchor-name: --some-anchor;

}
.box{
  height: 200px;
  width: 200px;
}

.red{
  background-color: rgb(209, 8, 8);
}

.box:hover{
      anchor-name: --some-anchor;

}
.blue{
  background-color: rgb(3, 3, 161);
}

.green{
  background-color: rgb(5, 130, 5);
}

.anchor{
  background-color: white;
  border-radius: 10px;
  position: absolute;
 
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  position-anchor: --some-anchor;
  transition: all 0.3s linear;
  mix-blend-mode: difference;
  pointer-events: none;
}