*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    font-size: 50px;
    color: white;
    
}
.box{
    width: 500px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    
}



.one{
    height: 200px;
    width: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

